<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="../../../output.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Stylish&display=swap"
      rel="stylesheet"
    />
    <style>
      .welcome {
        font-family: "Stylish", serif;
      }
    </style>
  </head>

  <body>
    <div class="lg:grid lg:min-h-screen lg:grid-cols-12">
      <section
        class="relative flex items-end bg-gray-900 lg:col-span-9 lg:h-full xl:col-span-8"
      >
        <img
          alt="bingo-image"
          src="../../assests/homepage3.png"
          class="absolute inset-0 h-full w-full object-cover opacity-80"
        />
      </section>
      <main
        class="flex items-center justify-center px-8 py-8 sm:px-12 lg:col-span-3 lg:px-16 lg:py-12 xl:col-span-4"
      >
        <div class="max-w-xl lg:max-w-3xl">
          <div class="relative -mt-16 block">
            <h1 class="text-2xl welcome sm:text-4xl text-cyan-500">
              Welcome to Bingo Game!
            </h1>
          </div>
          <form
            id="login-form"
            class="mt-8 grid grid-cols-6 gap-6 shadow-md rounded-md p-3"
          >
            <div class="col-span-6">
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Enter your email"
                class="mt-1 w-full p-4 rounded-md shadow-md"
              />
            </div>
            <div class="col-span-6">
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Enter password"
                class="mt-1 w-full rounded-md p-4 shadow-md"
              />
            </div>
            <div class="col-span-6 flex-col sm:flex sm:items-center sm:gap-4">
              <button type="submit" class="rounded-sm bg-cyan-500 p-2 w-full shadow-lg">
                <span class= "text-white">LOG IN</span>
              </button>
              <p class = "text-cyan-500">Or</p>
              <button class="rounded-sm bg-cyan-500 p-2 w-full shadow-lg" id="signUpButton" type="button">
                <span class= "text-white">SIGN UP</span>
              </button>
              <button
                class="rounded-sm bg-cyan-500 p-2 w-full shadow-lg"
                type="button"
                onclick="loginWithGoogle()"
                id="signin-with-google"
              >
                <span class= "text-white"> Google </span>
              </button>
            </div>
          </form>
        </div>
      </main>
    </div>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.6/axios.min.js"></script>
    <script src="/controller/cookies.js"></script>
    <!-- <script src="../js/script.js"></script> -->
    <script>
      const loginForm = document.getElementById("login-form");
      loginForm.addEventListener("submit", (event) => {
        event.preventDefault();
        const email = loginForm.email.value;
        const password = loginForm.password.value;
        const userData = {
          userName: email,
          password: password,
        };
        axios
          .post("/api/auth/login", userData)
          .then((response) => {
            if (response.status === 200) {
              console.log(response.data.message);
              cookies.set(
                "jwt",
                response.headers.authorization.replace("Bearer ", "")
              );
              window.location.href = "/homePage";
            } else {
              alert(response.data.message);
            }
          })
          .catch((error) => {
            alert(error);
          });
      });

      const signUpButton = document.getElementById("signUpButton");

      signUpButton.addEventListener("click", () => {
        window.location.href = "/signup";
      });

      async function loginWithGoogle() {
        try {
          const response = await axios.get("/google/authurl");
          window.location.href = response.data.url;
        } catch (error) {
          console.error("Error fetching auth URL:", error);
        }
      }
    </script>
  </body>
</html>
