
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BaghChal GamePage</title>
</head>
<body>
  <h1>Hello world</h1>
  <div id="game-board-container"></div>
  <h1>Hello world</h1>

  <script src="/phaser/phaser.min.js"></script>  <!-- Path to Phaser library -->
  <script src="/view/public/assests/game.js"></script> <!-- Your game logic script -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/phaser@3.15.1/dist/phaser-arcade-physics.min.js"></script> -->
</body>
</html>
