
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar with Image</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background: #21c2f8">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    
    <a class="navbar-brand" href="#">
      <img src="https://ih1.redbubble.net/image.1174654316.8419/poster,840x830,f8f8f8-pad,1000x1000,f8f8f8.u2.jpg"  height="60px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tutorial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Logout</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<div>
  <h style="display: flex;
      justify-content: center;
      font-size: 50px;
      font-family: Luminari;
      ">BAGHCHAL</h>
</div>

<div>
  <img src="https://m.media-amazon.com/images/I/619GHlEe76L.png" style="padding-top: 40px; padding-left: 38%">
</div>

<div class="container" style="padding-left: 30%; padding-top: 1%">
  <button type="button" class="btn btn-dark" >Log In</button>
</div>
</br>

<div class="container" style="padding-left: 30%">
  <button type="button" class="btn btn-dark">Signup</button>
</div>


</body>

</html>

